@import '../../styles/global';

.login {
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: auto;
  min-block-size: 100vh;
}

.login__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  inline-size: 90%;
  max-inline-size: 400px;
  padding: 100px 0 40px 0;
}

.login__logo {
  inline-size: 190px;
  margin-block-end: 40px;
  justify-self: center;
  display: block;
}

.login__input {
  margin-block-end: 24px;
}

.login__login-btn {
  margin-block-start: 16px;
  margin-block-end: 32px;
}

.login__link {
  text-align: center;
  margin-block-end: 48px;
}

@media (min-width: 768px) {
  .login__logo {
    display: none;
  }
}
