@import '../../styles/global';

.secondary-button {
  padding: 12px 32px;
  font-size: $font-size-md;
  font-weight: $font-weight-text2;
  color: $color-medium-3;
  background-color: $color-light-1;
  border: none;
  border: 1px solid $color-medium-3;
  border-radius: $border-radius-size;
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, top 0.15s ease-in-out,
    left 0.15s ease-in-out;
}

.secondary-button:hover {
  background-color: $color-light-2;
}
