@import '@styles/global';

.secondary-title {
  font-family: $font-family-titles;
  font-size: $font-size-lg2;
  font-weight: $font-weight-title2;
}

.secondary-title-light {
  color: $color-light-2;
}

@media (min-width: 768px) {
  .secondary-title {
    font-size: $font-size-lg3;
  }
}
