@import '../../styles/global';

.secondary-title {
  font-family: $font-family-titles;
  font-size: $font-size-lg2;
  font-weight: $font-weight-title2;
  line-height: 1.5;
  margin: 0;
}

.secondary-title-light {
  color: $color-light-2;
}

.align-center {
  text-align: center;
}
