@import '@styles/global';

.new-passwd {
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: auto;
  min-block-size: 100vh;
}

.new-passwd__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  inline-size: 90%;
  max-inline-size: 400px;
  padding: 100px 0 40px 0;
}

.new-passwd__logo {
  inline-size: 190px;
  margin-block-end: 40px;
  justify-self: center;
  display: block;
}

.new-passwd__texts-container {
  margin-block-end: 32px;
}

.new-passwd__title {
  text-align: center;
  margin-block-end: 4px;
}

.new-passwd__subtitle {
  text-align: center;
}

.new-passwd__input {
  margin-block-end: 24px;
}

.new-passwd__btn {
  margin-block-start: 40px;
  margin-block-end: 32px;
}

@media (min-width: 768px) {
  .new-passwd__logo {
    display: none;
  }
}
