$color-light-1: #fbfafb;
$color-light-2: #eeeaf2;
$color-medium-1: #aa83c8;
$color-medium-2: #8b48bf;
$color-medium-3: #5c218a;
$color-dark-1: #3e0f64;
$color-dark-2: #290545;

$color-background-404: radial-gradient(
  circle,
  #290545,
  #350b55,
  #421266,
  #4f1a78,
  #5c218a
);

$font-family-titles: 'Dosis', sans-serif;
$font-family-text: 'Red Hat Display', sans-serif;

$font-size-vs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-lg2: 2.4rem;
$font-size-lg3: 3rem;
$font-size-xl: 4rem;
$font-size-xxl: 5rem;
$font-size-xxxl: 6rem;

$font-weight-title1: 800;
$font-weight-title2: 700;
$font-weight-text1: 400;
$font-weight-text2: 500;

$border-radius-size: 12px;
