@import '../../styles/global';

.passwd-recovery {
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: auto;
  min-block-size: 100vh;
}

.passwd-recovery__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  inline-size: 90%;
  max-inline-size: 400px;
  padding: 100px 0 40px 0;
}

.passwd-recovery__logo {
  inline-size: 190px;
  margin-block-end: 40px;
  justify-self: center;
  display: block;
}

.passwd-recovery__texts-container {
  margin-block-end: 32px;
}

.passwd-recovery__title {
  text-align: center;
  margin-block-end: 4px;
}

.passwd-recovery__subtitle {
  text-align: center;
}

.passwd-recovery__input {
  margin-block-end: 24px;
}

.passwd-recovery__submit-btn {
  margin-block-start: 40px;
  margin-block-end: 32px;
}

.passwd-recovery__link {
  text-align: center;
}

@media (min-width: 768px) {
  .passwd-recovery__logo {
    display: none;
  }
}
