@import '../../styles/global';

.image-button {
  display: grid;
  place-items: center;
  overflow: hidden;
  inline-size: 50px;
  block-size: 50px;
  font-size: $icon-size-lg;
  color: $color-light-1;
  border-radius: 50%;
  background-color: $color-medium-3;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, top 0.15s ease-in-out,
    left 0.15s ease-in-out;
}

.icon__image-button {
  font-size: inherit;
  color: inherit;
}

@media (min-width: 768px) {
  .image-button:hover {
    background-color: $color-medium-2;
  }
}
