@import '../../styles/global';

.signup {
  display: grid;
  place-items: center;
  inline-size: 100vw;
  block-size: 100vh;
}

.signup__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  inline-size: 90%;
  max-inline-size: 400px;
  padding: 26px 0;
}

.signup__logo {
  inline-size: 190px;
  margin-block-end: 24px;
  justify-self: center;
  display: block;
}

@media (min-width: 768px) {
  .signup__logo {
    display: none;
  }
}
