@import '../../styles/global';

.primary-paragraph {
  font-family: $font-family-text;
  font-size: $font-size-md;
  font-weight: $font-weight-text2;
}

@media (min-width: 768px) {
  .primary-paragraph {
    font-size: $font-size-md2;
  }
}
