@import '../../styles/global';

.primary-paragraph {
  font-family: $font-family-text;
  font-size: $font-size-lg;
  font-weight: $font-weight-text1;
  line-height: 1.5;
  color: $color-dark-2;
}

.align-center {
  text-align: center;
}
