@import '../../styles/global';

/*__________________________________________*/
// Section -> (Header)
/*__________________________________________*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  inline-size: 100%;
  background-color: $color-dark-1;
}

.nav {
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: 60px;
  padding: 0 4%;
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.nav-container {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  inline-size: 100%;
  max-inline-size: 1280px;
}

.nav__btn-haburguer-container {
  grid-column: 1 / 2;
  justify-self: start;
}

.nav__logo-container {
  grid-column: 2 / 3;
  justify-self: center;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.nav__logo-img {
  inline-size: 120px;
  object-fit: cover;
  object-position: center;
}

.nav-container .nav__btn-shop-container {
  grid-column: 3 / 4;
  justify-self: center;
  background-color: transparent;
}

/*__________________________________________*/
// Section -> (Header (Menu Styles))
/*__________________________________________*/
.nav__menu-container {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  inline-size: 100%;
  block-size: calc(100vh - 60px);
  background-color: $color-dark-2;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 2;
}

.nav__menu-container--open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*__________________________________________*/
// Section -> (Header (Info Styles))
/*__________________________________________*/
.nav__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 90%;
  padding: 8px;
  margin-block: 24px;
  border: 1px solid $color-medium-2;
  border-radius: $border-radius-size;
}

.nav__info-data-container {
  display: flex;
  align-items: center;
}

.nav__info-image {
  inline-size: 36px;
  block-size: 36px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.nav__info-data-text {
  margin-inline-start: 4px;
}

.nav__info-data-text .nav__data-title {
  font-size: $font-size-md;
  font-weight: 600;
  color: $color-medium-1;
}

.nav__info-data-text .nav__data-subtitle {
  font-size: $font-size-vs;
  color: $color-medium-1;
}

.nav__info-container .nav__data-btn {
  padding: 12px;
}

.nav__info-container--desktop {
  display: none;
}

/*__________________________________________*/
// Section -> (Header (Nav-Bar Styles)
/*__________________________________________*/
.nav__list {
  inline-size: 90%;
  list-style: none;
}

.nav__list-item {
  margin-block-end: 16px;
}

.nav__list-item .nav__list-link {
  display: inline-block;
  inline-size: 100%;
  padding-inline: 8px;
  font-size: $font-size-md;
  font-weight: $font-weight-text2;
  color: $color-medium-1;
  text-decoration: none;
}

.nav__list-item .nav__list-link:hover {
  color: $color-light-1;
}

.nav__list-item .nav__list-link--active {
  color: $color-light-1;
  background-color: $color-dark-1;
  border-radius: $border-radius-size;
}

/*__________________________________________*/
// Screen >768px
/*__________________________________________*/
@media (min-width: 768px) {
  .nav {
    padding: 0 2%;
  }

  .nav__logo-container {
    grid-column: 1 / 2;
    justify-self: start;
  }

  .nav__menu-container {
    position: static;
    grid-column: 2 / 3;
    justify-self: start;
    justify-content: center;
    overflow: hidden;
    block-size: 100%;
    inline-size: 100%;
    padding-inline-start: 16px;
    background-color: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    inline-size: 100%;
    padding: 0;
  }

  .nav__list-item {
    margin: 0;
  }
  .nav__list-item .nav__list-link--active {
    background: none;
    border-radius: 0;
  }

  .nav-container .nav__btn-hamburguer-container {
    display: none;
  }

  .nav__info-container--mobile {
    display: none;
  }

  .nav__info-container--desktop {
    grid-column: 3 / 4;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .nav__info-data-container--desktop {
    display: flex;
    align-items: center;
    justify-content: start;
    inline-size: auto;
  }

  .nav-container .nav__btn-shop-container {
    grid-column: 4 / 5;
    justify-self: end;
    margin-inline-start: 8px;
  }
}
