@import '../../styles/global';

.primary-title {
  font-family: $font-family-titles;
  font-size: $font-size-lg3;
  font-weight: $font-weight-title1;
  margin: 0;
}

.primary-title-light {
  color: $color-light-1;
}

.align-center {
  text-align: center;
}
