@import '@styles/global';

.primary-title {
  font-family: $font-family-titles;
  font-size: $font-size-xl;
  font-weight: $font-weight-title1;
}

.primary-title-light {
  color: $color-light-1;
}

@media (min-width: 768px) {
  .primary-title {
    font-size: $font-size-xxl;
  }
}
